HELP.md
target/
!.mvn/wrapper/maven-wrapper.properties
.mvn/
.DS_Store
.vscode/
*.iml
application-*.properties
application-*.yml
.github/workflows/build.yml

### Logs ###

*.log
logs/
logs/*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
